.float {
  min-width: 35%;
  float: left;
  background: #fff;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 0 0 25%;
  position: fixed;
  z-index: 3;
}

@media screen and (max-width:800px) {
  .float {
    min-width: 35%;
    float: left;
    background: #fff;
    position: fixed;
    padding: 1em;
    top: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 0 0 25%;
    position: fixed;
    z-index: 3;
  }
}

.style-content {
  width: 200px;
  height: 100%;
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.float p span {
  width: 96%;
  margin: 0 2%;
  float: left
}
#refresh_token_span_confirm,#refresh_token_span_cancel{
  line-height: 30px;
  width: 93px;
  float: left;
  margin: 0.5em 0 0.5em 0;
}